.board {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.dark {
    background-color: #333131;
}

.light {
    background-color: #fefefe;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}